*~
\#*\#
\.\#*
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
*.dvi
*.log
install-sh
missing
.deps
src/minara
